/* home.css */

.ui.masthead.segment {
    padding: 1em 0em;
}

.ui.masthead .logo.item img {
    margin-right: 1em;
}

.ui.masthead .ui.text.container {
    margin-top: 15rem;
    margin-bottom: 10rem;
    max-width: 950px;
}

.ui.masthead div.ui.pointing.label {
    margin-bottom: 2em;
}

.ui.masthead h1.ui.header {
    margin-top: 0em;
    margin-bottom: 0em;
}

.ui.masthead h1.ui.logo.header .ui.centered.image {
    margin-left: auto;
    margin-right: auto;
}

.ui.masthead #search-shortcuts .ui.hidden.label {
    display: none;
}

.ui.masthead #badges {
    margin-top: 0.5rem;
}

.ui.masthead .ui.selection.link.list {
    margin-top: 0em;
    margin-bottom: 0.25em;
}

.ui.labels .ui.label {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.ui.masthead #banner-advertisement {
    margin-bottom: 0.5em;
}

.ui.masthead .basic.label, .ui.masthead .basic.labels .label {
    background: transparent;
    border: 0px;
}

.ui.small.label .link-image {
    width: auto !important; /* 提高优先级 */
    height: 1em !important; /* 提高优先级 */
    border-radius: 0.2em; /* 可选：添加轻微的圆角 */
    vertical-align: top; /* 确保图片与文字垂直对齐 */
    margin-right: 0.5em; /* 图片与文字之间的间距 */
}

@media only screen and (max-width: 1000px) {
    .ui.masthead .ui.text.container {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .ui.masthead h1.ui.header {
        margin-top: 0em;
        font-size: 2em;
    }
    .ui.masthead h2.ui.header {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}